.loader-title {
    text-align: center;
    vertical-align: middle;
}

.loader-title-text {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: .9em;
}