version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:18.7.0
    steps:
      - checkout
      - run:
          name: Intall dependencies
          command: npm install
      - run:
          name: Run test
          command: npm run test

  build_and_publish:
    docker:
      - image: cimg/node:18.7.0
    steps:
      - checkout
      - run:
          name: Intall dependencies
          command: npm install
      - run:
          name: Deploy build
          command: npm run build
      - name: Install dependencies
        command: sh ./tools/install_dependencies.sh
      - name: Zip and Publish to Octopus
        command: |
          zip -r build.1.0.0-${CIRCLE_BUILD_NUM}.zip ./build 
          curl -X POST https://afj-solution.octopus.app/api/Spaces-24/packages/raw -H "X-Octopus-ApiKey: ${OCTOPUS_API_KEY}" -F "data=@build.1.0.0-${CIRCLE_BUILD_NUM}.zip" 
workflows:
  version: 2
  build:
    jobs:
      - test
      - build_and_publish:
          context: OCTOPUS          
          # filters:
          #   branches:
          #     only: master      
