version: 2.1

jobs:
  test:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: Intall dependencies
          command: |
            sh ./tools/install_dependencies.sh    
            apt-get install -y unzip curl tar openjdk-17-jre-headless
            apt-get update
            curl -o allure-2.18.1.tgz -OLs https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.18.1/allure-commandline-2.18.1.tgz
            tar -zxvf allure-2.18.1.tgz -C /opt/
            ln -s /opt/allure-2.18.1/bin/allure /usr/bin/allure
      - run:
          name: Run test
          command: npm run test
      - run:
          name: Generate report    
          command: allure generate
      - store_artifacts:
          path: /coverage
      - store_artifacts:
          path: /allure-report

  build_and_publish:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: sh ./tools/install_dependencies.sh      
      - run:
          name: Intall node dependencies
          command: npm install
      - run:
          name: Build dev environment
          command: npm run build
      - run:
          name: Zip and Publish to Octopus dev build
          command: |
            cp ./public/robots.txt ./build
            cp ./public/manifest.json ./build
            cp ./public/logo192.png ./build
            cp ./public/logo512.png ./build            
            zip -r build.1.0.0-${CIRCLE_BUILD_NUM}.zip ./build 
            curl -X POST ${OCTOPUS_API_URL} -H "X-Octopus-ApiKey: ${OCTOPUS_API_KEY}" -F "data=@build.1.0.0-${CIRCLE_BUILD_NUM}.zip" 
      - run:
          name: Remove dev build
          command: |
             rm -r build      
      - run:
          name: Build prod environment
          command: npm run build-prod     
      - run:
          name: Zip and Publish to Octopus prod build
          command: |
            cp ./public/robots.txt ./build
            cp ./public/manifest.json ./build
            cp ./public/logo192.png ./build
            cp ./public/logo512.png ./build            
            zip -r build-prod.1.0.0-${CIRCLE_BUILD_NUM}.zip ./build 
            curl -X POST ${OCTOPUS_API_URL} -H "X-Octopus-ApiKey: ${OCTOPUS_API_KEY}" -F "data=@build-prod.1.0.0-${CIRCLE_BUILD_NUM}.zip" 

workflows:
  version: 2
  build:
    jobs:
      - test
      - build_and_publish:
          context: OCTOPUS        
          filters:
            branches:
              only: master      
