version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:18.7.0
    steps:
      - checkout
      - run:
          name: Intall node dependencies
          command: npm install
      - run:
          name: Run test
          command: npm run test

  build_and_publish:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: sh ./tools/install_dependencies.sh      
      - run:
          name: Intall node dependencies
          command: npm install
      - run:
          name: Build webpack
          command: npm run build
      - run:
          name: Zip and Publish to Octopus
          command: |
            cp ./public/robots.txt ./build
            cp ./public/manifest.json ./build
            cp ./public/logo192.png ./build
            cp ./public/logo512.png ./build            
            zip -r build.1.0.0-${CIRCLE_BUILD_NUM}.zip ./build 
            curl -X POST ${OCTOPUS_API_URL} -H "X-Octopus-ApiKey: ${OCTOPUS_API_KEY}" -F "data=@build.1.0.0-${CIRCLE_BUILD_NUM}.zip" 
workflows:
  version: 2
  build:
    jobs:
      - test
      - build_and_publish:
          context: OCTOPUS          
          filters:
            branches:
              only: master      
