version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:18.7.0
    steps:
      - checkout
      - run:
          name: Intall dependencies
          command: npm install
      - run:
          name: Run test
          command: npm run test

workflows:
  version: 2
  build:
    jobs:
      - test
