.product-page {
    margin-left: 20%;
}

.product-container {
    width: 40%;
    height: 75vh;
}

.information {
    width: 40%;
    height: 20vh;
}

.characteristic {

}

.product-image {
    padding: 20%;
}

.add-to-cart {

}

.user {
}