.content {
    width: 100vw;
    min-height: 75vh;
    transition: all 1s ease-in;
}

.page {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100vw;
}

.center {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */

    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    color: #0D7377;
}

.main { 
    color: #0D7377;
}

.text {
    color: #0D7377;
    font-size: 14px;
}

.black {
    color: #000000; 
}

.uppercase {
    text-transform: uppercase;
}

.debug {
    border: 1px black solid;
}


@media screen and (max-width: 390px) and (max-width: 1200px) {
    .page {
        min-height: 240vh;
    }

    .content {
        min-height: 240vh;
        max-height: 360vh;
    }
}