.form {
    width: 25%;
    height: 400px;
    border: 2px black;
    border-radius: 10%;
    background-color: aliceblue;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 12px 13px 7px 5px rgba(0,0,0,0.14); 
    box-shadow: 0px 10px 13px -7px #000000, 12px 13px 7px 5px rgba(0,0,0,0.14);
}

.inputs-box {
    margin-top: 15%;
}
.title {
    background-color: rgb(0, 153, 255);
    width: 104%;
    margin-left: -2%;
    height: 75px;
}

.row {
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.change-password {
    height: 10%;
    font-size: 10px;
    text-transform: none;
    transition: "all 0.5s ease-in";
    float: right;    
}

.center {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width: 240px) and (max-width: 960px) {
    .form {
        width: 60%;
    }
}